* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
a {
	text-decoration: none;
	color: black;
}
ul {
	list-style: none;
}

.dropdown {
	position: relative;
	display: inline-block;
}
.drop-act:hover {
	cursor: pointer;
}
.drop-cont {
	visibility: hidden;
	opacity: 0;
	transition: visibility 0.3s linear,opacity 0.3s linear;
	position: absolute;
	z-index: 1;
	background-color:rgba(255, 255, 255, 0.4);
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
.drop-cont a {
	display: block;
}
.dropdown:hover .drop-cont {
	visibility: visible;
	opacity: 1;
}
/*
<div class="dropdown">
	<p class="drop-act">ASD</p>
	<div class="drop-cont">
		<a href="#"> asd1</a>
		<a href="#"> asd2</a>
		<a href="#"> asd3</a>
	</div>
</div>
*/